<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender for stdout -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-12thread] %-5level %-40logger{40} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- File Appender for logging to file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-12thread] %-5level %-40logger{40} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Logger configurations -->
    <logger name="com.autoramming" level="DEBUG" />
    <logger name="org.openqa.selenium" level="WARN" />
    <logger name="org.apache.commons" level="WARN" />

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
